.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.editorContainer {
    padding: 1em;
    margin: 1em;
}

.editors {
    border: 1px transparent solid;
    padding: 1.5em 2em 2.75em 2em;
    margin: 1.25em;
    font-family: "Didot";
    font-size: 1.2em;
    border-radius: 6px;
    text-align: left;
    line-height: 1.5em;
}

button {
    border-radius: 2px;
    margin: 0.25em;
    width: 2.3em;
    font-family: "Times";
    line-height: 200%;
    border-radius: 3px;
    background-color: #efefef;
}

button.underline {
    text-decoration: underline;
}

.underline,
.bold,
.italic,
.highlight {
    font-size: 1em;
    text-align: center;
}

.strikethrough {
    text-decoration: line-through;
    font-size: 1em;
}

html {
    background: linear-gradient(to bottom, #3e3e3e 50%, #16222a);
    height: 100%;
    position: relative;
    width: 100%;
}

.editors {
    background-color: white;
}