.App {
    text-align: center;
}

.App-header {
    background-color: #a24444;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 20px;
    cursor: pointer;
}

.spinner {
    height: 80px;
    margin: auto;
}

.App-intro {
    font-size: large;
}

* {
    box-sizing: border-box;
}

.hoteles-contenedor>div {
    width: 50%;
    margin-right: 10px;
    display: inline-block;
}

.App-header h2 {
    margin: 0;
}

.add-movies {
    text-align: center;
}

.add-movies button {
    font-size: 14px;
    padding: 0px;
    margin: 0 10px 30px 10px;
}

.hotel {
    padding: 15px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 33%;
    border: 1px solid #ccc;
    height: 451px;
}

.errorMessage {
    margin: auto;
    font-weight: bold;
    color: rgb(161, 15, 15);
}

.search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

input[type="submit"] {
    padding: 5px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    width: auto;
    margin-left: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #282c34;
    color: antiquewhite;
}

.search>input[type="text"] {
    width: 40%;
    min-width: 170px;
}

@media screen and (min-width: 694px) and (max-width: 915px) {
    .hotel {
        max-width: 33%;
    }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
    .hotel {
        max-width: 50%;
    }
}

@media screen and (max-width: 651px) {
    .hotel {
        max-width: 100%;
        margin: auto;
    }
}